*{
    box-sizing: border-box;
}

.card{
    --cardHeight: 400px;
    --cardWidth:  250px;
    font-family: Arial, Helvetica, sans-serif;
    height: var(--cardHeight);
    width: var(--cardWidth);
    text-align: center;
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 15px;
    background: #f7f5f5;
    overflow: hidden;
}

.purpleOne{
    --pHeight: calc(var(--cardHeight)*0.25);
    height: var(--pHeight);
    background: #7b507b;
}

.imageWrapper{
    --image-height: 125px;
    height: var(--image-height);
    width: var(--image-height);
    border-radius: 150%;
    border: 1.5px solid white;
    display: inline-block;
    overflow: hidden;
    margin-top: -80px;
}

.imageWrapper > img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.contentWrapper{
    --cwHeight: calc(var(--cardHeight)*0.65);
    height: var(--cwHeight);
    padding: 1em 1.5em 1.5em;
}

.contentWrapper > h1{
    color: #7b507b;
    margin: 0.5em 0 0;
    font-size: 22px;
}

.contentWrapper > h2{
    color: #9b699b;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 14px;
}

.contentWrapper >p{
    font-size: 12.5px;
}

.cardFooter{
    display: inline-block;
    text-align: center;
    width: 50%;
    height: calc(var(--cardHeight)*0.10);
    border-top: 1px solid lightgray;
    overflow: hidden;
}

.cardFooter img{
    width: 25px;
    object-fit: cover;
}

#Twit{
    border-right: 0.5px solid lightgray;
}

#GitHub{
    border-left: 0.5px solid lightgray;
}









